@import '~vuetify/src/styles/main.sass'

h1
	@extend .text-h1

h1, .h1-margin
	margin-top: 1.9rem
	margin-bottom: 1.1rem

h2
	@extend .text-h2

h2, .h2-margin
	margin-top: 1.5rem
	margin-bottom: 0.85rem

h3
	@extend .text-h3

h3, .h3-margin
	margin-top: 1.1rem
	margin-bottom: 0.625rem

h4
	@extend .text-h4

h4, .h4-margin
	margin-top: 0.76rem
	margin-bottom: 0.43rem

h5
	@extend .text-h5

h5, .h5-margin
	margin-top: 0.63rem
	margin-bottom: 0.36rem

h6
	@extend .text-h6

h6, .h6-margin
	margin-top: 0.57rem
	margin-bottom: 0.32rem

p
	margin: 16px 0